@media (width < 415px) {
  .main-container {
    padding: 0;
  }

  .header {
    width: 100vw;
    height: 18vh;
  }

  .header__button {
    display: none;
    justify-content: space-between;
  }
  .nav__item {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo--adaptive {
    display: inline-block;
  }

  .header__button--adaptive {
    display: inline;
  }

  .nav ul {
    justify-content: center;
  }

  .introduction {
    margin-top: 11vh;
    grid-template-columns: 1fr;
    grid-template-areas:
      "caption"
      "line"
      "picture"
      "title"
      "sauce";
  }
  .introduction__item {
    justify-self: center;
  }

  .introduction__item:first-child {
    height: 50vh;
    width: 100vw;
  }

  .introduction__item--running-line {
    width: 100vw;
  }

  .introduction__item:nth-child(3),
  .introduction__item:nth-child(5) {
    padding: 12px;
  }

  .introduction__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0;
  }

  .products__title {
    font-size: 2.4rem;
    line-height: 32px;
    white-space: nowrap;
  }

  .products__list-container {
    border: none;
  }
  .products__title-container {
    padding: 12px;
  }

  .products__scorpio {
    width: 70px;
    height: 48px;
  }

  .products__list {
    width: 253vw;
    /* overflow: hidden; */
    overflow-x: scroll;
    gap: 15px;
    padding: 12px;
  }

  .products__list li {
    width: 80vw;
    height: 80vh;
    padding: 0 22px;
  }

  .products__list p {
    font-size: 1.7rem;
    line-height: 28px;
    margin-top: 130px;
    margin-bottom: 5px;
  }

  .products__list h3 {
    font-size: 2.5rem;
    line-height: 38px;
  }

  .history__container {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
      "pic"
      "title"
      "left"
      "text";
  }

  .history__main-picture {
    padding: 8px;
  }

  .history__title {
    padding: 20px;
  }

  .history__title h2 {
    font-size: 2.4rem;
    line-height: 32px;
  }

  .history__text-container p {
    font-size: 1.2rem;
    line-height: 12px;
    white-space: nowrap;
  }

  .caption-container {
    height: 37vh;
  }

  .caption-container__wrapper .caption {
    width: 100vw;
    height: 30vh;
  }

  .caption-container .caption__white-img,
  .caption-container .caption__black-img {
    left: 5%;
    top: 0;
  }
}
