@import url("animations.css");
body {
  text-transform: uppercase;
  background-color: var(--background-color);
}

html {
  font-size: 10px;
}

.main-container {
  padding: 0 21px;
  font-family: "Roboto Regular";
}

main {
  padding-top: 7%;
}

.header {
  display: flex;
  padding: 20px;
  border: 1px solid var(--text-color);
  gap: 48px;
  align-items: center;
  background-color: var(--background-color);
  position: fixed;
  width: calc(100vw - 57px);
  z-index: 1;
  height: 14%;
}

.header__button {
  background-color: var(--primary-button-color);
  color: white;
  padding: 15px 44px;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.nav {
  flex-grow: 1;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.nav__item-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__item {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
}

.logo--adaptive {
  display: none;
}

.header__button--adaptive {
  display: none;
  padding: 12px;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "caption title"
    "caption sauce"
    "line sauce"
    "picture sauce";
}

.introduction__item {
  padding: 20px;
  border: 1px solid var(--text-color);
}

.container-pic {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.introduction__item:first-child {
  grid-area: caption;
}

.introduction__item:nth-child(2) {
  grid-area: line;
  padding: 0;
  display: flex;
  align-items: center;
}

.introduction__item:nth-child(3) {
  grid-area: picture;
}

.introduction__item:nth-child(4) {
  grid-area: title;
}

.introduction__item:nth-child(5) {
  grid-area: sauce;
}

.introduction__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.caption {
  position: relative;
  height: 100%;
}

.caption__black-img {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.caption__white-img {
  position: absolute;
  width: 78%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.introduction__item--running-line {
  overflow: hidden;
}

.running-line {
  display: flex;
  overflow: hidden;
}

.running-line__content {
  display: flex;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  flex-shrink: 0;
  animation: scroll-left 10s linear infinite;
}

.running-line__content p {
  font-size: 1.7rem;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: var(--text-color);
}

.title {
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--text-color);
}

.introduction__title {
  font-size: 58px;
  line-height: 65px;
  word-wrap: break-word;
  padding: 0px 50px;
}

.products {
  width: calc(100vw-42px);
}

.products__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text-color);
  padding: 60px;
}

.products__title {
  font-size: 6.5rem;
  line-height: 72.58px;
}

.products__scorpio {
  height: 156px;
}

.products__scorpio--mirrored {
  transform: scaleX(-1);
}

.products__list-container {
  border: 1px solid var(--text-color);
}

.products__upper-pic {
  position: absolute;
  height: 58px;
  width: 58px;
  top: -25%;
  left: 0;
}

.products__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 22px;
}

.products__list li {
  position: relative;
  background-image: url(../assets/icons/products-background.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 22px;
}

.products__upper-pic {
  top: 0;
}

.products__list li:nth-child(1) .products__upper-pic {
  left: 0;
}

.products__list li:nth-child(2) .products__upper-pic:nth-child(1) {
  left: -13%;
  height: 88px;
}

.products__list li:nth-child(2) .products__upper-pic:nth-child(2) {
  left: 99%;
  height: 88px;
}

.products__list li:nth-child(3) .products__upper-pic {
  left: 88%;
}

.products__list p {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-top: 120px;
  margin-bottom: 14px;
}

.products__list h3 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 13px;
}

.running-line-container {
  padding: 26px 0;
  border: 1px solid var(--text-color);
  overflow: hidden;
}

.history__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 722px 227px 1fr;
  grid-template-areas:
    "pic pic"
    "title text"
    "left text";
}

.history__main-picture {
  grid-area: pic;
  padding: 22px;
  border: 1px solid var(--text-color);
}

.history__main-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.history__title {
  grid-area: title;
  border: 1px solid var(--text-color);
  padding-top: 8%;
}

.history__left-picture {
  grid-area: left;
  border: 1px solid var(--text-color);
}

.history__text {
  grid-area: text;
  background-image: url(../assets/images/history-text-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid var(--text-color);
}

.history__text-container {
  padding: 135px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.history__text p {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.history__title h2 {
  font-size: 5.8rem;
  line-height: 65px;
  font-weight: 400;
}

.caption-container {
  border: 1px solid var(--text-color);
  padding: 20px;
  position: relative;
  height: 756px;
}

.caption-container__wrapper {
  position: relative;
  height: 100%;
  padding: 120px 170px;
}

.caption-container__bg-fire {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: initial;
  max-height: initial;
  width: 100%;
}

.caption-container__bg-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  background-color: var(--fire-bg-color);
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 95px;
}

.footer__link,
.footer__address {
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-style: normal;
}

.footer__contacts {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-style: normal;
}
